/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "~bootstrap/dist/css/bootstrap.min.css";

.rarity-5 {
  background: linear-gradient(to bottom, rgba(146, 92, 83, 0.8) 0%, rgba(198, 164, 112, 0.8) 100%);
  border-color: black;
  padding: 0;
  max-width: fit-content;
}

.rarity-4 {
  background: linear-gradient(to bottom, rgba(64, 64, 102, 0.8) 0%, rgba(152, 100, 206, 0.8) 100%);
  border-color: black;
  padding: 0;
  max-width: fit-content;
}

.bottom-name {
  padding-top: 60%;
}

.bottom-name-long {
  padding-top: 50%;
}

.text-highlight {
  -webkit-filter:drop-shadow(0px 2px 1px #000);
  filter:drop-shadow(0px 2px 1px #000);
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.name-plate {
  color: white;
  font-size:17px;
}

.slot-plate {
  color: white;
  font-size:20px;
  font-weight: bold;
}

.team-title {
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.team-title-select {
  --bs-form-select-bg-img: none !important;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  background: linear-gradient(0deg,  rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.95));
  font-size:30px;
}

.pros {
  color: #C8E9E9;
  font-size:30px;
}

.cons {
  color: #FDDA16;
  font-size:30px;
}

.emoji {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-left: 5px;
}

.type-icon {
  width: 28px;
  height: 28px;
}

.float-right {
  float: right;
}

.footer-text {
  color: white;
}

.path-icon {
  width: 28px;
  height: 28px;
  float: right;
  -webkit-filter: drop-shadow(1px 1px 0 black);
  /* drop-shadow(-2px -2px 0 black); */
  filter: drop-shadow(1px 1px 0 black);
  /* drop-shadow(-2px -2px 0 black); */
}

.overview-bg {
  background: linear-gradient(0deg,  rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.95));
}

.pros-bg {
  background: linear-gradient(0deg,  rgba(225, 226, 241, 0.75), rgba(225, 226, 241, 0.95));
}

.cons-bg {
  background: linear-gradient(0deg,  rgba(255, 254, 246, 0.75), rgba(255, 254, 246, 0.95));
}